body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;


}

@import url('https://fonts.cdnfonts.com/css/forte');

h1 {
    font-family: 'Forte', sans-serif;
    width: auto;
    font-size: 90px;
    letter-spacing: 2px;
    margin-left: 20px;
}

.head3 {
    line-height: 5px;
    text-align: left;
}

p {
    font-family: 'Forte', sans-serif;
    width: auto;
    font-size: 90px;
    letter-spacing: 2px;
    margin-left: 20px;
}